.skills {
  width: 100%;
  height: 710px;
  background-color: #111111;
  // margin-bottom: 300px;
}

.skills-me {
  text-align: center;
  padding-top: 110px;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  color: #ffc815bd;
  font-weight: 700;
  letter-spacing: 1px;
  padding-top: 120px;

  .abs {
    padding-left: 15px;
  }
}
.skills-itme {
  .skills-itmes {
    p {
      text-align: justify;
    }
  }
}
.skills-itme {
  width: 1300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 50px;
}

.skills-itmes {
  h2 {
    font-family: "Poppins", sans-serif;
    color: white;
    font-weight: 550;
    padding-top: 50px;
    div {
      display: inline-block;
      width: 80px;
      height: 6px;
      background-color: rgba(237, 35, 159, 0.6);
      filter: blur(4px);
      border-radius: 4px;
    }
  }
  p {
    font-family: "Poppins", sans-serif;
    padding-top: 25px;
    letter-spacing: 0.5px;
    // font-weight: 500;
    color: #ffffff;
  }
  button {
    width: 140px;
    display: block;
    height: 45px;
    margin-top: 25px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 550;
    color: hsl(180, 20%, 91%);
    transition: 0.9s;
    background: linear-gradient(
      to right,
      #089290 0%,
      #65e6a1 51%,
      hsla(226, 93%, 59%, 0.843) 100%
    );
    background-size: 200% auto;
  }
  button:hover {
    background-position: right center;
    transition: all 0.8s ease;
  }
}
.skills-itmes1 {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: space-between;
}

.tex {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 40px;
  padding-left: 20px;
}

.skil {
  width: 160px;
  height: 160px;
  position: relative;
  transform: rotate(-90deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.oute {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  // border: 1px solid #2c2c2c;
  // padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  // box-shadow: 0 5px 25px -5px #ffffff40;
}

.innner {
  width: 138px;
  height: 138px;
  border-radius: 50%;
  border: 1px solid #2c2c2c;

  p {
    position: absolute;
    color: white;
    z-index: 5;
    margin: 45px 0 0 30px;
    transform: rotate(90deg);
    font-size: 40px;
  }
}

.cir {
  fill: none;
  stroke: url(#GradientColora);
  stroke-width: 12px;
}

.circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 12px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  z-index: 2;
}

.circle.active {
  animation: anim 4.6s linear forwards;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
}

@keyframes anim {
  100% {
    stroke-dashoffset: 150;
  }
}

// css kompinata
.circle1 {
  fill: none;
  stroke: url(#GradientColor1);
  stroke-width: 12px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
}

.circle1.active {
  animation: anim1 4s linear forwards;
}

@keyframes anim1 {
  100% {
    stroke-dashoffset: 100;
  }
}

//

// sass

.circle3 {
  fill: none;
  stroke: url(#GradientColor2);
  stroke-width: 12px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
}

.circle3.active {
  animation: anim3 3.9s linear forwards;
}

@keyframes anim3 {
  100% {
    stroke-dashoffset: 115;
  }
}

// js
.js {
  .tex {
    padding-left: 0;
    margin-left: -25px;
  }
}

.circle4 {
  fill: none;
  stroke: url(#GradientColor3);
  stroke-width: 12px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
}

.circle4.active {
  animation: anim4 3.8s linear forwards;
}

@keyframes anim4 {
  100% {
    stroke-dashoffset: 131;
  }
}

// react

.circle5 {
  fill: none;
  stroke: url(#GradientColor4);
  stroke-width: 12px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
}

.circle5.active {
  animation: anim5 3.8s linear forwards;
}

@keyframes anim5 {
  100% {
    stroke-dashoffset: 131;
  }
}

@media screen and (max-width: 1380px) {
  .skills {
    width: 100%;
    margin: 0 auto;
  }
  .skills-itme {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 70px;
  }
}

@media screen and (max-width: 1000px) {
  .skills {
    height: 1000px;
  }
  .skills-itmes {
    width: 100%;
    height: auto;
  }
  .skills-itmes1 {
    width: 100%;
    height: 450px;
    margin-top: 50px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto auto;
  }
  .skills-itme {
    flex-wrap: wrap;
  }

  .skills {
    height: auto;
  }

  .js {
    margin-top: 50px;
  }
  .react1 {
    margin-top: 50px;
  }
}
@media screen and (max-width: 650px) {
  .skills-itmes1 {
    margin-top: 50px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto;

    .react1{
position: absolute;
bottom: 0;
margin-bottom: -170px;
margin-left: 100px;
    }
  }
  .sass {
    margin-top: 50px;
  }
}

// @media screen and (max-width: 500px) {

//   svg{
//     width: 140px;
//     height: 140px;
//   }
//   .oute{
//     width: 140px;
//     height: 140px;
//   }
//   .skil{
//     width: 140px;
//     height: 140px;
//   }
//   .innner{
//     width: 110px;
//     height: 110px;
//   }
//   .tex{
//     font-size: 35px
//   }

//   .circle1 {
//     fill: none;
//     stroke: url(#GradientColor1);
//     stroke-width: 8px;
//     stroke-dasharray: 472;
//     stroke-dashoffset: 472;
//     width: 120px;
//     font-size: 20px;
//   }

// }

@media screen and (max-width: 480px) {
  .skills-itmes1 {
    width: 100%;
  }
  .skills-itme {
    h2 {
      padding-top: 0px;
      font-size: 22px;
      margin-top: -15px;
      div {
        width: 43px;
      }
    }
  }
}


@media screen and (max-width: 440px) {
  .skil {
    width: 130px;
    height: 130px;
  }
  .innner {
    width: 90px;
    height: 90px;
    p {
      position: absolute;
      color: white;
      z-index: 5;
      margin: 28px 0 0 17px;
      transform: rotate(90deg);
      font-size: 28px;
    }
  }
  .oute {
    width: 120px;
    height: 120px;
  }
  .circle {
    width: 120px;
    height: 120px;
  }

  .tex {
    font-size: 24px;
    padding-left: 40px;
  }

  @keyframes anim5 {
    100% {
      stroke-dashoffset: 131;
    }
  }
  @keyframes anim4 {
    100% {
      stroke-dashoffset: 131;
    }
  }
  @keyframes anim3 {
    100% {
      stroke-dashoffset: 115;
    }
  }
  @keyframes anim1 {
    100% {
      stroke-dashoffset: 100;
    }
  }
  @keyframes anim {
    100% {
      stroke-dashoffset: 15;
    }
  }    

}

@media screen and (max-width: 400px) {
  .skills-itmes1 {
    width: 100%;
  }
}