@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  scroll-snap-type: mandatory;
}
body {
  margin: 0;
  padding: 0;
  background-color: #090a0c;
}

@font-face {
  font-family: Popons;
  src: url(././../../../Poppins/Poppins-Light.ttf);
}
header {
  width: 100%;
  overflow: hidden;
}
.homimg {
  width: 50%;
  height: 450px;
  // background-color: #06bcb9;
  transition: all 1.3s ease;
  height: 600px;
  position: relative;
  animation-name: animatinX;
  animation-duration: 1s;
  margin-bottom: 50px;
}

.hom {
  display: flex;
  width: 1300px;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
  // background-color: #06bcb9;
  img {
    width: 730px;
    height: 600px;
    margin-left: -150px;
    margin-top: -10px;
    object-fit: cover;
    // animation: img infinite;
    animation-duration: 5.6s;
  }
  .blur {
    width: 450px;
    height: 60px;
    box-shadow: 0px 3px 18px 0px #000000;
    background-image: linear-gradient(
      to left bottom,
      #000000e6,
      rgba(0, 0, 0, 0.792)
    );
    filter: blur(15px);
    margin-left: 130px;
    margin-top: -35px;
    position: relative;
    z-index: 3;
  }
}
.hom-itme {
  width: 590px;
  height: 590px;
  background: linear-gradient(
    to top right,
    #604608 0%,
    #f3c250 51%,
    #dcbd77 100%
  );
  transform: rotate(13deg);
  margin-top: -10px;
  margin-left: 50px;
  box-shadow: 0px 3px 18px 5px #ffc815;
  position: absolute;
  z-index: -1;
  border-radius: 51%;
  filter: blur(15px);
  // animation: hom infinite;
  animation-duration: 5.6s;
  animation-duration: 5.6s;
  box-shadow: inset 6px 6px 11px #b08b35, inset -6px -6px 11px #eab947;
}
.ic {
  width: 200px;
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  i {
    color: white;
    font-size: 35px;
    transition: 0.4s;
    animation: ii 1s linear;
  }
}
i:hover {
  cursor: pointer;
  color: #e7b84a;
}

@keyframes ii {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

nav {
  width: 100%;
  height: 70px;

  display: flex;
  align-items: center;
  box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 10%);

  .nav {
    width: 100%;
    height: 70px;

    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 99;
    overflow: hidden;

    .nav1 {
      width: 1300px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: white;
      font-family: "Poppins", sans-serif;
      transition: all 0.4s ease;
      position: relative;
      z-index: 99;

      ul {
        position: relative;
        transition: all 1.3s ease;
        // animation-name: animatin1;
        animation-duration: 0.8s;
      }
    }
    h1 {
      color: #f7bb35;
      font-size: 32px;
      font-weight: 550;
      text-decoration: none;
      letter-spacing: 1.2px;
      position: relative;
      animation-name: animatin1;
      animation-duration: 0.8s;
      padding: 17px 0 0 20px;
    }
    ul {
      display: flex;
    }
    .activ,
    .activ1,
    .activ2 {
      width: 0px;
      height: 1.5px;
      border-radius: 8px;
      background-color: #ffc815;
      transition: 0.3s;
      margin-left: 20px;
      position: absolute;
    }
  }

  .nav::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0.5px;
    background: #ffc815bd;
    opacity: 0.15;
  }

  .nav.sticky {
    background-color: #000000ef;
    position: fixed;
    height: 65px;
    top: 0;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.13);
    border-bottom: 2px solid #f7bb35;
    .nav1 {
      padding: 1px 1px;
      h1 {
        padding: 5px 0 0 10px;
      }
    }
  }

  .nav.sticky::before {
    height: 0px;
  }

  a {
    padding-left: 20px;
    text-decoration: none;
    color: white;
    transition: 0.5s;
  }
  a:hover {
    color: #ffc815;
  }

  .nav-hover:hover {
    .activ {
      width: 50px;
    }
    .activ1 {
      width: 40px;
    }
    .activ2 {
      width: 70px;
    }
  }
}

.nav-itme {
  width: 45%;
  margin: 0 auto;
  position: relative;
  transition: all 1.3s ease;
  animation-name: animatin;
  animation-duration: 1s;

  .animaty1 {
    transition: all 1.3s ease;
    position: relative;
    animation-name: animat1;
    animation-duration: 1s;
    position: absolute;
  }
  h2 {
    color: #fff;
    font-size: 60px;
    line-height: 25px;
    font-weight: 400;
    padding-top: 150px;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
  }
  h1 {
    color: #f7bb35;
    font-size: 45px;
    font-weight: 600;
    padding-top: 10px;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
    line-height: 65px;
  }
  .hel {
    color: #f7bb35;
    font-size: 30px;
  }
  .ss {
    font-size: 30px;
    letter-spacing: 1px;
    color: white;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    font-weight: 550;
  }
  .typed-cursor {
    font-size: 30px;
    color: #f5cb40;
    font-weight: bold;
  }
  button {
    width: 190px;
    display: block;
    height: 45px;
    margin-top: 95px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 550;
    color: hsl(180, 20%, 91%);
    transition: 0.9s;
    background: linear-gradient(
      to right,
      #604608 0%,
      #f3c250 51%,
      #dcbd77 100%
    );
    background-size: 200% auto;
  }
  button:hover {
    background-position: right center;
    transition: all 0.8s ease;
  }
}

@keyframes animatin {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes animat1 {
  0% {
    opacity: 0;
    transform: translateX(400px);
  }
  100% {
    transform: translateX(0px);

    opacity: 1;
  }
}
@keyframes animatin1 {
  0% {
    opacity: 0;
    transform: translateY(90px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes animatinX {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.bar1 {
  display: none;
}

.nav-bar {
  display: none;
  h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 550;
    text-align: center;
    font-size: 28px;
    color: rgba(255, 255, 255, 0.758);
  }
  ul {
    .nav-hover {
      width: 70%;
      height: 40px;
      margin: 0 auto;
      margin-top: 5px;
      display: flex;
      align-items: center;

      justify-content: space-between;
      border-radius: 6px;
      a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.831);

        font-family: sans-serif;
        i {
          font-size: 22px;

          color: #a65dff;
        }
      }
    }
  }
}
.nav-bar-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 20px;
  border: 12px solid#1c1e29;
  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

// animation

#nav1 {
  animation-name: nav1;
  animation-duration: 0.8s;
}

@keyframes nav1 {
  0% {
    opacity: 0;
    transform: translateY(90px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
#nav2 {
  animation-name: nav1;
  animation-duration: 1.3s;
}

@keyframes nav1 {
  0% {
    opacity: 0;
    transform: translateY(90px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
#nav3 {
  animation-name: nav1;
  animation-duration: 1.8s;
}

@keyframes nav1 {
  0% {
    opacity: 0;
    transform: translateY(90px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
#nav4 {
  animation-name: nav1;
  animation-duration: 2.3s;
}

@keyframes nav1 {
  0% {
    opacity: 0;
    transform: translateY(90px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
#nav5 {
  animation-name: nav1;
  animation-duration: 2.8s;
}

@keyframes nav1 {
  0% {
    opacity: 0;
    transform: translateY(90px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
#nav6 {
  animation-name: nav1;
  animation-duration: 3.3s;
}

@keyframes nav1 {
  0% {
    opacity: 0;
    transform: translateY(90px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 1380px) {
  .nav {
    width: 80%;
  }

  .hom {
    width: 90%;
  }
  nav {
    .nav {
      .nav1 {
        width: 90%;
      }
    }
  }
}

@media screen and (max-width: 1350px) {
  .hom {
    img {
      width: 700px;
      height: 600px;
      margin-left: -150px;
      margin-top: -50px;
      object-fit: cover;
    }
    .hom-itme {
      width: 450px;
      height: 450px;
    }
  }
}
@media screen and (max-width: 1230px) {
  .hom {
    img {
      width: 650px;
      height: 600px;
      margin-left: -150px;
      margin-top: -50px;
      object-fit: cover;
    }
    .hom-itme {
      width: 430px;
      height: 430px;
      margin-left: 20px;
    }
  }
}
@media screen and (max-width: 1230px) {
  .hom {
    img {
      width: 600px;
      height: 580px;
      margin-left: -150px;
      margin-top: -50px;
      object-fit: cover;
    }
    .hom-itme {
      width: 410px;
      height: 410px;
      margin-left: 10px;
    }
  }
}
#mx {
  display: none;
}

@media screen and (max-width: 1030px) {
  .hom {
    display: grid;
    justify-content: center;
    margin: 0 auto;
    position: relative;

    img {
      width: 750px;
      height: 650px;
      margin-left: -150px;
      margin-top: -50px;
      object-fit: cover;
    }
  }
  .homimg {
    width: 100%;
    margin-top: 250px;

    .hom-itme {
      width: 500px;
      height: 500px;
      margin-left: 80px;
    }
  }

  #min {
    display: none;
  }
  #mx {
    display: block;
  }
  .homimg {
    animation-name: animatinw;
  }
}

.nav-itme {
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .bar1.active .barr:nth-child(2) {
    opacity: 0;
  }

  .bar1.active .barr:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .bar1.active .barr:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-bar.active {
    left: 0;
  }
  .barr {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 5px auto 0 auto;
  }
  .bar1 {
    display: block;
    position: absolute;
    right: 0;
  }
  .nav-bar {
    display: block;
    width: 80%;
    height: 100%;
    background-image: linear-gradient(to right, #11121a, #1b1d29);
    position: fixed;
    left: -100%;
    z-index: 999;
    transition: 0.5s;
    ul {
      display: block;
      display: grid;
      grid-template-columns: auto;
      a {
        display: block;
        color: black;
      }
    }
  }

  ul {
    a {
      display: none;
    }
  }
}
@media screen and (max-width: 740px) {
  .hom {
    img {
      width: 650px;
      height: 600px;
    }
    .hom-itme {
      width: 430px;
      height: 430px;
    }

    .blur {
      width: 80%;
      margin-left: 78px;
    }
  }
}

@media screen and (max-width: 650px) {
  .nav-itme {
    h2 {
      // font-size: 32px;
      padding-top: 150px;
    }
    h1 {
      // font-size: 38px;
      padding-top: 10px;
    }
    .ss {
      font-size: 22px;
    }
  }
}
@media screen and (max-width: 610px) {
  .hom {
    margin-bottom: -100px;
    img {
      width: 550px;
      height: 500px;
    }
    .hom-itme {
      width: 350px;
      height: 350px;
      margin-left: 30px;
      transform: rotate(15deg);
    }

    .blur {
      width: 70%;
      margin-left: 78px;
    }
  }
  .nav-itme {
    h2 {
      font-size: 45px;
      padding-top: 150px;
    }
    h1 {
      font-size: 38px;
      padding-top: 10px;
    }
  }
}

@media screen and (max-width: 505px) {
  .nav-itme {
    h1 {
      font-size: 28px;
    }

    .ss {
      font-size: 20px;
      font-weight: 4000;
    }
  }
}

@media screen and (max-width: 500px) {
  .nav-itme {
    button {
      width: 140px;
      height: 43px;
      margin-top: 90px;
      font-size: 15px;
    }
    h2 {
      color: #fff;
      font-size: 38px;

      padding-top: 100px;
    }

    .ss {
      font-size: 20px;
      font-weight: 4000;
    }
    .hel {
      font-size: 25px;
    }
    .ic {
      width: 150px;
      i {
        font-size: 30px;
      }
    }
  }
  .hom {
    margin-bottom: -150px;

    img {
      width: 480px;
      height: 450px;
    }
    .hom-itme {
      width: 300px;
      height: 299px;
      margin-left: 20px;
      transform: rotate(15deg);
    }

    .blur {
      width: 95%;
      margin-left: 10px;
      margin-top: -20px;
    }
  }

  .homimg {
    display: grid;
    justify-content: center;
  }
}

@media screen and (max-width: 380px) {
  .nav-itme {
    h1 {
      font-size: 27px;
    }
  }
  .hom {
    margin-bottom: -150px;
    img {
      width: 480px;
      height: 450px;
    }
    .hom-itme {
      width: 300px;
      height: 299px;
      margin-left: 10px;
      transform: rotate(15deg);
      margin-top: 90px;
    }
  }

  .homimg {
    display: grid;
    justify-content: center;
  }
}
