@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  scroll-snap-type: mandatory;
}
body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Popons;
  src: url(././../../../Poppins/Poppins-Light.ttf);
}
header {
  width: 100%;
  // background: linear-gradient(
  //   101.63deg,
  //   #230a5c -21.52%,
  //   #241788 55.18%,
  //   #2542d0 93.18%
  // );
  background-image: url(../../assets/img/fot.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 10%);
}
nav {
  width: 100%;
  height: 70px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 10%);
  .nav {
    width: 100%;
    height: 70px;
    background: rgba(255, 255, 255, 0.1);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
    position: relative;
    z-index: 99;
    overflow: hidden;
    .nav1 {
      width: 1300px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: white;
      font-family: "Poppins", sans-serif;
      transition: all 0.4s ease;
      position: relative;
      z-index: 99;

      ul {
        position: relative;
        transition: all 1.3s ease;
        animation-name: animatin;
        animation-duration: 0.8s;
      }
    }
    h1 {
      color: #fff;
      font-size: 32px;
      font-weight: 550;
      text-decoration: none;
      letter-spacing: 1.2px;
      position: relative;
      transition: all 1.3s ease;
      animation-name: animatin;
      animation-duration: 0.8s;
    }
    ul {
      display: flex;
    }
    .activ,
    .activ1,
    .activ2 {
      width: 0px;
      height: 1.5px;
      border-radius: 8px;
      background-color: #65e6a1;
      transition: 0.3s;
      margin-left: 20px;
      position: absolute;
    }
  }

  .nav.sticky {
    background-color: #1c33e4db;
    position: fixed;
    height: 65px;
    top: 0;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.13);
    .nav1 {
      padding: 1px 1px;
    }
  }
  a {
    padding-left: 20px;
    text-decoration: none;
    color: white;
    transition: 0.5s;
  }
  a:hover {
    color: hsl(148, 100%, 71%);
  }

  .nav-hover:hover {
    .activ {
      width: 50px;
    }
    .activ1 {
      width: 40px;
    }
    .activ2 {
      width: 70px;
    }
  }
}

.nav-itme {
  width: 1300px;
  margin: 0 auto;
  position: relative;
  transition: all 1.3s ease;
  animation-name: animatin;
  animation-duration: 1s;

  h2 {
    color: #fff;
    font-size: 36px;
    font-weight: 400;
    padding-top: 150px;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
  }
  h1 {
    color: #fff;
    font-size: 45px;
    font-weight: 600;
    padding-top: 10px;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
  }
  .ss {
    font-size: 30px;
    letter-spacing: 1px;
    color: #65e6a1;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    font-weight: 550;
  }
  .typed-cursor {
    font-size: 30px;
    color: white;
  }
  button {
    width: 190px;
    display: block;
    height: 45px;
    margin-top: 25px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 550;
    color: hsl(180, 20%, 91%);
    transition: 0.9s;
    background: linear-gradient(
      to right,
      #089290 0%,
      #65e6a1 51%,
      hsla(226, 93%, 59%, 0.843) 100%
    );
    background-size: 200% auto;
  }
  button:hover {
    background-position: right center;
    transition: all 0.8s ease;
  }
}

@keyframes animatin {
  0% {
    opacity: 0;
    transform: translateY(90px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.bar1 {
  display: none;
}

.nav-bar {
  display: none;
  h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 550;
    text-align: center;
    font-size: 28px;
    color: rgba(0, 0, 0, 0.833);
    color: white;
  }
  ul {
    .nav-hover {
      width: 70%;
      height: 40px;
      margin: 0 auto;
      margin-top: 5px;
      display: flex;
      align-items: center;

      justify-content: space-between;
      border-radius: 6px;
      a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.831);

        font-family: sans-serif;
        i {
          font-size: 22px;

          color: #06bcb9;
        }
      }
    }
  }
}
.nav-bar-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 20px;
  border: 12px solid hsla(223, 97%, 55%, 0.767);
  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}
@media screen and (max-width: 1380px) {
  .nav {
    width: 80%;
  }

  .nav-itme {
    width: 90%;
  }
  nav {
    .nav {
      .nav1 {
        width: 90%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .bar1.active .barr:nth-child(2) {
    opacity: 0;
  }

  .bar1.active .barr:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .bar1.active .barr:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-bar.active {
    left: 0;
  }
  .barr {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 5px auto 0 auto;
  }
  .bar1 {
    display: block;
    position: absolute;
    right: 0;
  }
  .nav-bar {
    display: block;
    width: 80%;
    height: 100%;
    background: linear-gradient(
      101.63deg,
      #230a5c -21.52%,
      #241788 55.18%,
      #2542d0 93.18%
    );
    position: fixed;
    left: -100%;
    z-index: 999;
    transition: 0.5s;
    ul {
      display: block;
      display: grid;
      grid-template-columns: auto;
      a {
        display: block;
        color: black;
      }
    }
  }

  ul {
    a {
      display: none;
    }
  }
}

@media screen and (max-width: 650px) {
  .nav-itme {
    h2 {
      color: #ffff;
      // font-size: 32px;
      padding-top: 150px;
    }
    h1 {
      color: #fff;
      // font-size: 38px;
      padding-top: 10px;
    }
    .ss {
      font-size: 22px;
    }
  }
}

@media screen and (max-width: 500px) {
  .nav-itme {
    button {
      width: 140px;
      height: 43px;
      margin-top: 40px;
      font-size: 15px;
    }
    h2 {
      color: #fff;
      font-size: 31px;

      padding-top: 100px;
    }

    .ss {
      font-size: 20px;
      font-weight: 4000;
      color: #4befa0;
    }
  }
}

@media screen and (max-width: 422px) {
  header {
    background-image: url(../../assets/img/fot.png);
    background-position: calc(-420px);
  }
}
